<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="WebgostarNuget" value="https://azuredevops/WebgostarCollection/_packaging/WebgostarNuget/nuget/v3/index.json" protocolVersion="3" />
  <config>
    <add key="allowInsecureConnections" value="true" />
   </config>
</configuration>