<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="WebgostarNuget"
      value="https://azuredevops/WebgostarCollection/_packaging/WebgostarNuget/nuget/v3/index.json"
      protocolVersion="3" />
  </packageSources>
  <config>
    <add key="allowInsecureConnections" value="true" />
    <add key="signatureValidationMode" value="accept" />
  </config>
</configuration>