<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="WebgostarNuget" value="http://localhost/WebgostarCollection/_packaging/WebgostarNuget/nuget/v3/index.json" allowInsecureConnections="true" signatureValidationMode="accept" />
    </packageSources>
  <apikeys>
    <add key="http://localhost/WebgostarCollection/_packaging/WebgostarNuget/nuget/v3/index.json" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA93ACV775uk+33fZKWPtZkQAAAAACAAAAAAAQZgAAAAEAACAAAAD1PPPe5xRz2uzoqbYUPYxq38ur81qko/F1LMq/fjbCBwAAAAAOgAAAAAIAACAAAADHiRRiWGLIemYPhrboNbbgR1+u0rRNkaoRB2hb9VTPihAAAAAhr0EuczZnyefjxQjYWC/vQAAAAHKpxTxf52eAcVd9fsTX6t6QdzUwecnp+MNYeK9ZKU3ysnC8LaM9q5ZawTB1iSt5fF7kMw6mot7qEF41KffOVuc=" />
  </apikeys>
</configuration>